@import "../common/mixins.scss";

.znv-row {
  display: block;
  @include make-row();

  &-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &:before,
    &:after {
      display: flex;
    }

    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-top {
      align-items: flex-start;
    }

    &-middle {
      align-items: center;
    }

    &-bottom {
      align-items: flex-end;
    }
  }
}

.znv-col {
  position: relative;
  display: block;
}

@include make-grid();
@include make-grid(-xs);

@media (min-width: 576px) {
  @include make-grid(-sm);
}


@media (min-width: 768px) {
  @include make-grid(-md);
}


@media (min-width: 992px) {
  @include make-grid(-lg);
}


@media (min-width: 1200px) {
  @include make-grid(-xl);
}


@media (min-width: 1600px) {
  @include make-grid(-xxl);
}
