.znv-range{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  .znv-slider{
    position: relative;
    width: 100%;
  }
  i.icon-ios-remove{
    cursor: zoom-out;
    margin: 0 10px;
  }
  i.icon-ios-add{
    cursor: zoom-in;
    margin: 0 10px;
  }
}
