.znv-scrollbar {
  overflow: hidden;
  position: relative;

  &:active, &:focus, &:hover {
    > .znv-scrollbar__bar {
      opacity: 1;
      transition: opacity 0.34s ease-out;
    }
  }
}

.znv-scrollbar__wrap {
  overflow: scroll;
  height: 100%;
}

.znv-scrollbar__wrap--hidden-default {
  margin-bottom: -17px;
  margin-right: -17px;
}

.znv-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 9999;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.12s ease-out;

  &.is-horizontal {
    height: 6px;
    left: 2px;

    > div {
      height: 100%;
    }
  }

  &.is-vertical {
    width: 6px;
    top: 2px;

    > div {
      width: 100%;
    }
  }

  &.always {
    opacity: 1;
  }
}

.znv-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(144, 147, 153, 0.3);
  transition: background-color 0.3s;
}
